.job-section {
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.hiring-banner {
  background-color: #f5faff;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.banner-image {
  height: 150px;
  width: 200px;
}

.banner-content {
  
}

.banner-content h3 {
  font-size: 24px;
  color: #4b5563;
}

.banner-content h3 span {
  color: rgb(60, 60, 139);
  font-weight: bold;
}

.banner-content p {
  color: #6b7280;
  font-size: 16px;
  margin-top: 5px;
}

.apply-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #2563eb;
}

.jobs-of-day {
  text-align: center;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.jobs-of-day p {
  color: #6b7280;
  font-size: 16px;
  margin-top: 10px;
}

.job-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.job-category {
  padding: 10px 20px;
  border: 1px solid #3b82f6;
  border-radius: 20px;
  background-color: #f0f9ff;
  color: #1d4ed8;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.job-category:hover {
  background-color: #3b82f6;
  color: white;
}
